# Installer logs
pip-log.txt
pip-delete-this-directory.txt

__pycache__
# ignore a pasta que começa c a palavra "produtos"
produtos*/

# ignore todos os arquivos .txt
*.log
*.txt
.logs.txt
logs
testes.py

.env